openapi: 3.0.0
info:
  title: IS/STAG Web Services API
  description: Automaticky generovaná OpenAPI specifikace z WADL souborů pro webové
    služby IS/STAG.
  contact:
    name: STAG API Support
    url: https://www.zcu.cz/
    email: podpora@service.zcu.cz
  version: 2.0.0
servers:
- url: https://stag-demo.zcu.cz/ws/services/rest2
  description: API Server
- url: https://stag-ws.zcu.cz/ws/services/rest2
  description: API Server
tags:
- name: ciselniky
  description: Operace související s kategorií ciselniky
- name: help
  description: Operace související s kategorií help
- name: predmety
  description: Operace související s kategorií predmety
- name: programy
  description: Operace související s kategorií programy
- name: rozvrhy
  description: Operace související s kategorií rozvrhy
- name: users
  description: Operace související s kategorií users
- name: vsp
  description: Operace související s kategorií vsp
- name: zakaznici
  description: Operace související s kategorií zakaznici
paths:
  /ciselniky/deletePracoviste:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetDeletepracoviste' z kategorie 'ciselniky'.
      operationId: GetDeletepracoviste
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pracovisteForDelete
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
  /ciselniky/getCasovaRada:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetGetcasovarada' z kategorie 'ciselniky'.
      operationId: GetGetcasovarada
      parameters:
      - name: kod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/casovaRadaType"
            text/xml:
              schema:
                $ref: "#/components/schemas/casovaRadaType"
            application/json:
              schema:
                $ref: "#/components/schemas/casovaRadaType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/casovaRadaType"
            text/csv:
              schema:
                $ref: "#/components/schemas/casovaRadaType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/casovaRadaType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/casovaRadaType"
  /ciselniky/getCiselnik:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetGetciselnik' z kategorie 'ciselniky'.
      operationId: GetGetciselnik
      parameters:
      - name: domena
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/ciselnikType"
            text/xml:
              schema:
                $ref: "#/components/schemas/ciselnikType"
            application/json:
              schema:
                $ref: "#/components/schemas/ciselnikType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/ciselnikType"
            text/csv:
              schema:
                $ref: "#/components/schemas/ciselnikType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/ciselnikType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/ciselnikType"
  /ciselniky/getCiselnikNewDomains:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetGetciselniknewdomains' z kategorie 'ciselniky'.
      operationId: GetGetciselniknewdomains
      parameters: []
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/json:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/stringListType"
  /ciselniky/getCiselnikNewItems:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetGetciselniknewitems' z kategorie 'ciselniky'.
      operationId: GetGetciselniknewitems
      parameters:
      - name: domena
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: key
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: resultsStartAt
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: resultsEndAt
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: onlyValidItems
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: sortItems
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/ciselnikNewType"
            text/xml:
              schema:
                $ref: "#/components/schemas/ciselnikNewType"
            application/json:
              schema:
                $ref: "#/components/schemas/ciselnikNewType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/ciselnikNewType"
            text/csv:
              schema:
                $ref: "#/components/schemas/ciselnikNewType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/ciselnikNewType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/ciselnikNewType"
  /ciselniky/getHierarchiePracovist:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetGethierarchiepracovist' z kategorie 'ciselniky'.
      operationId: GetGethierarchiepracovist
      parameters: []
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            application/json:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
  /ciselniky/getSeznamDomen:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetGetseznamdomen' z kategorie 'ciselniky'.
      operationId: GetGetseznamdomen
      parameters: []
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/json:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/stringListType"
  /ciselniky/getSeznamPracovist:
    get:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'GetGetseznampracovist' z kategorie 'ciselniky'.
      operationId: GetGetseznampracovist
      parameters:
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: nadrazenePracoviste
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: typPracoviste
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            application/json:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/pracovisteListType"
  /ciselniky/insertPracoviste:
    post:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'PostInsertpracoviste' z kategorie 'ciselniky'.
      operationId: PostInsertpracoviste
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/pracovisteForEditType"
  /ciselniky/insertTitul:
    post:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'PostInserttitul' z kategorie 'ciselniky'.
      operationId: PostInserttitul
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/wsCiselnikItemForEditType"
  /ciselniky/updatePracoviste:
    post:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'PostUpdatepracoviste' z kategorie 'ciselniky'.
      operationId: PostUpdatepracoviste
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/pracovisteForEditType"
  /ciselniky/updateTitul:
    post:
      tags:
      - ciselniky
      summary: ciselniky operation
      description: Operace 'PostUpdatetitul' z kategorie 'ciselniky'.
      operationId: PostUpdatetitul
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/wsCiselnikItemForEditType"
  /help/getStagUserForActualUser:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetGetstaguserforactualuser' z kategorie 'help'.
      operationId: GetGetstaguserforactualuser
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stagUserType"
            text/xml:
              schema:
                $ref: "#/components/schemas/stagUserType"
            application/json:
              schema:
                $ref: "#/components/schemas/stagUserType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stagUserType"
            text/csv:
              schema:
                $ref: "#/components/schemas/stagUserType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/stagUserType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/stagUserType"
  /help/getStagUserListForActualUser:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetGetstaguserlistforactualuser' z kategorie 'help'.
      operationId: GetGetstaguserlistforactualuser
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            application/json:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/stagUserListType"
  /help/getStagUserListForActualUserV2:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetGetstaguserlistforactualuserv2' z kategorie 'help'.
      operationId: GetGetstaguserlistforactualuserv2
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
            text/xml:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
            application/json:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
  /help/getStagUserListForLoginTicket:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetGetstaguserlistforloginticket' z kategorie 'help'.
      operationId: GetGetstaguserlistforloginticket
      parameters:
      - name: ticket
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            application/json:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/stagUserListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/stagUserListType"
  /help/getStagUserListForLoginTicketV2:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetGetstaguserlistforloginticketv2' z kategorie 'help'.
      operationId: GetGetstaguserlistforloginticketv2
      parameters:
      - name: ticket
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
            text/xml:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
            application/json:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stagUserListV2Type"
  /help/invalidateTicket:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetInvalidateticket' z kategorie 'help'.
      operationId: GetInvalidateticket
      parameters:
      - name: ticket
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            text/plain: {}
  /help/organizaceInfo:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetOrganizaceinfo' z kategorie 'help'.
      operationId: GetOrganizaceinfo
      parameters: []
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/organizaceInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/organizaceInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/organizaceInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/organizaceInfoType"
  /help/testService:
    get:
      tags:
      - help
      summary: help operation
      description: Operace 'GetTestservice' z kategorie 'help'.
      operationId: GetTestservice
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parametr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/json:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/stringListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/stringListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/stringListType"
  /predmety/getInfoOOboruPredmetu:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetinfoooborupredmetu' z kategorie 'predmety'.
      operationId: GetGetinfoooborupredmetu
      parameters:
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: oborIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/oborPredmetuType"
            text/xml:
              schema:
                $ref: "#/components/schemas/oborPredmetuType"
            application/json:
              schema:
                $ref: "#/components/schemas/oborPredmetuType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/oborPredmetuType"
            text/csv:
              schema:
                $ref: "#/components/schemas/oborPredmetuType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/oborPredmetuType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/oborPredmetuType"
  /predmety/getLiteraturaPredmetu:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetliteraturapredmetu' z kategorie 'predmety'.
      operationId: GetGetliteraturapredmetu
      parameters:
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/literaturaListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/literaturaListType"
            application/json:
              schema:
                $ref: "#/components/schemas/literaturaListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/literaturaListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/literaturaListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/literaturaListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/literaturaListType"
  /predmety/getNeakreditovanePredmety:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetneakreditovanepredmety' z kategorie 'predmety'.
      operationId: GetGetneakreditovanepredmety
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: stavAkreditace
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceType"
  /predmety/getNeakreditovanePredmetyEcts:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetneakreditovanepredmetyects' z kategorie 'predmety'.
      operationId: GetGetneakreditovanepredmetyects
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: stavAkreditace
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceEctsType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceEctsType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceEctsType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceEctsType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceEctsType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceEctsType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceEctsType"
  /predmety/getNeakreditovanePredmetySeznamZmen:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetneakreditovanepredmetyseznamzmen' z kategorie 'predmety'.
      operationId: GetGetneakreditovanepredmetyseznamzmen
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: stavAkreditace
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceSeznamZmenType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceSeznamZmenType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceSeznamZmenType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceSeznamZmenType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceSeznamZmenType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceSeznamZmenType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyAkreditaceSeznamZmenType"
  /predmety/getOboryPredmetu:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetoborypredmetu' z kategorie 'predmety'.
      operationId: GetGetoborypredmetu
      parameters:
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/oborPredmetuListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/oborPredmetuListType"
            application/json:
              schema:
                $ref: "#/components/schemas/oborPredmetuListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/oborPredmetuListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/oborPredmetuListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/oborPredmetuListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/oborPredmetuListType"
  /predmety/getPredmetECTSInfo:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetectsinfo' z kategorie 'predmety'.
      operationId: GetGetpredmetectsinfo
      parameters:
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: garantUcitIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: oborIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: zobrazovatVECTS
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: akreditace
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ectsAkreditace
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetECTSInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetECTSInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetECTSInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetECTSInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetECTSInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetECTSInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetECTSInfoListType"
  /predmety/getPredmetInfo:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetinfo' z kategorie 'predmety'.
      operationId: GetGetpredmetinfo
      parameters:
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetInfoType"
  /predmety/getPredmetInfoPDF:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetinfopdf' z kategorie 'predmety'.
      operationId: GetGetpredmetinfopdf
      parameters:
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/pdf: {}
  /predmety/getPredmetyByBlok:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybyblok' z kategorie 'predmety'.
      operationId: GetGetpredmetybyblok
      parameters:
      - name: blokIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: vyznamPredmetu
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyBlokuType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyBlokuType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyBlokuType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyBlokuType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyBlokuType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyBlokuType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyBlokuType"
  /predmety/getPredmetyByBlokFullInfo:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybyblokfullinfo' z kategorie 'predmety'.
      operationId: GetGetpredmetybyblokfullinfo
      parameters:
      - name: blokIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: vyznamPredmetu
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyBlokuFullInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyBlokuFullInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyBlokuFullInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyBlokuFullInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyBlokuFullInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyBlokuFullInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyBlokuFullInfoType"
  /predmety/getPredmetyByFakulta:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybyfakulta' z kategorie 'predmety'.
      operationId: GetGetpredmetybyfakulta
      parameters:
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: vyucovaciJazyk
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: jenNabizeneECTSPrijezdy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
  /predmety/getPredmetyByFakultaFullInfo:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybyfakultafullinfo' z kategorie 'predmety'.
      operationId: GetGetpredmetybyfakultafullinfo
      parameters:
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: vyucovaciJazyk
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: jenNabizeneECTSPrijezdy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetInfoListType"
  /predmety/getPredmetyByKatedra:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybykatedra' z kategorie 'predmety'.
      operationId: GetGetpredmetybykatedra
      parameters:
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: jenNabizeneECTSPrijezdy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
  /predmety/getPredmetyByKatedraFullInfo:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybykatedrafullinfo' z kategorie 'predmety'.
      operationId: GetGetpredmetybykatedrafullinfo
      parameters:
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: jenNabizeneECTSPrijezdy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryFullInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryFullInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyKatedryFullInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryFullInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyKatedryFullInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyKatedryFullInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyKatedryFullInfoType"
  /predmety/getPredmetyByObor:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybyobor' z kategorie 'predmety'.
      operationId: GetGetpredmetybyobor
      parameters:
      - name: oborIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: cisloOboru
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: vyznamPredmetu
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyOboruType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyOboruType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyOboruType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyOboruType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyOboruType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyOboruType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyOboruType"
  /predmety/getPredmetyByOborFullInfo:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybyoborfullinfo' z kategorie 'predmety'.
      operationId: GetGetpredmetybyoborfullinfo
      parameters:
      - name: oborIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: cisloOboru
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: vyznamPredmetu
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyOboruFullInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyOboruFullInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyOboruFullInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyOboruFullInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyOboruFullInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyOboruFullInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyOboruFullInfoType"
  /predmety/getPredmetyByStudent:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybystudent' z kategorie 'predmety'.
      operationId: GetGetpredmetybystudent
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: osCislo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: nevracetUznane
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyStudentaType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyStudentaType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyStudentaType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyStudentaType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyStudentaType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyStudentaType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyStudentaType"
  /predmety/getPredmetyByUcitel:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetybyucitel' z kategorie 'predmety'.
      operationId: GetGetpredmetybyucitel
      parameters:
      - name: ucitIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: jenCoMajiVyuku
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyUciteleType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyUciteleType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyUciteleType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyUciteleType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyUciteleType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyUciteleType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyUciteleType"
  /predmety/getPredmetyPodLimit:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetGetpredmetypodlimit' z kategorie 'predmety'.
      operationId: GetGetpredmetypodlimit
      parameters:
      - name: pracoviste
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetPodLimitListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetPodLimitListType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetPodLimitListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetPodLimitListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetPodLimitListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetPodLimitListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetPodLimitListType"
  /predmety/najdiPredmety:
    get:
      tags:
      - predmety
      summary: predmety operation
      description: Operace 'GetNajdipredmety' z kategorie 'predmety'.
      operationId: GetNajdipredmety
      parameters:
      - name: nazev
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pracoviste
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: zkratka
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/xml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/json:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            text/csv:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/predmetyKatedryType"
  /programy/getBlokInfo:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetblokinfo' z kategorie 'programy'.
      operationId: GetGetblokinfo
      parameters:
      - name: blokIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/blokInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/blokInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/blokInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/blokInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/blokInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/blokInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/blokInfoType"
  /programy/getBlokyPlanu:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetblokyplanu' z kategorie 'programy'.
      operationId: GetGetblokyplanu
      parameters:
      - name: stplIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
  /programy/getBlokySegmentu:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetblokysegmentu' z kategorie 'programy'.
      operationId: GetGetblokysegmentu
      parameters:
      - name: sespIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/blokInfoListType"
  /programy/getOblastiVzdelavaniProgramu:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetoblastivzdelavaniprogramu' z kategorie 'programy'.
      operationId: GetGetoblastivzdelavaniprogramu
      parameters:
      - name: stprIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/programOblVzdelListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/programOblVzdelListType"
            application/json:
              schema:
                $ref: "#/components/schemas/programOblVzdelListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/programOblVzdelListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/programOblVzdelListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/programOblVzdelListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/programOblVzdelListType"
  /programy/getOborInfo:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetoborinfo' z kategorie 'programy'.
      operationId: GetGetoborinfo
      parameters:
      - name: oborIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/oborInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/oborInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/oborInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/oborInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/oborInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/oborInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/oborInfoType"
  /programy/getOboryQRAMInfo:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetoboryqraminfo' z kategorie 'programy'.
      operationId: GetGetoboryqraminfo
      parameters:
      - name: oborIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: forma
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: typ
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: jazyk
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pouzePlatne
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/oborQRAMInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/oborQRAMInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/oborQRAMInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/oborQRAMInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/oborQRAMInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/oborQRAMInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/oborQRAMInfoListType"
  /programy/getOboryStudijnihoProgramu:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetoborystudijnihoprogramu' z kategorie 'programy'.
      operationId: GetGetoborystudijnihoprogramu
      parameters:
      - name: stprIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/oborInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/oborInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/oborInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/oborInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/oborInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/oborInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/oborInfoListType"
  /programy/getPlanInfo:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetplaninfo' z kategorie 'programy'.
      operationId: GetGetplaninfo
      parameters:
      - name: stplIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/planInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/planInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/planInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/planInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/planInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/planInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/planInfoType"
  /programy/getPlanyOboru:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetplanyoboru' z kategorie 'programy'.
      operationId: GetGetplanyoboru
      parameters:
      - name: oborIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/planInfoListType"
  /programy/getPlanyStudenta:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetplanystudenta' z kategorie 'programy'.
      operationId: GetGetplanystudenta
      parameters:
      - name: osCislo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/planInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/planInfoListType"
  /programy/getSegmentInfo:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetsegmentinfo' z kategorie 'programy'.
      operationId: GetGetsegmentinfo
      parameters:
      - name: sespIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/segmentInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/segmentInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/segmentInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/segmentInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/segmentInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/segmentInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/segmentInfoType"
  /programy/getSegmentyPlanu:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetsegmentyplanu' z kategorie 'programy'.
      operationId: GetGetsegmentyplanu
      parameters:
      - name: stplIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/segmentInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/segmentInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/segmentInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/segmentInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/segmentInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/segmentInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/segmentInfoListType"
  /programy/getStudijniProgramInfo:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetstudijniprograminfo' z kategorie 'programy'.
      operationId: GetGetstudijniprograminfo
      parameters:
      - name: stprIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/programInfoType"
            text/xml:
              schema:
                $ref: "#/components/schemas/programInfoType"
            application/json:
              schema:
                $ref: "#/components/schemas/programInfoType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/programInfoType"
            text/csv:
              schema:
                $ref: "#/components/schemas/programInfoType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/programInfoType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/programInfoType"
  /programy/getStudijniProgramy:
    get:
      tags:
      - programy
      summary: programy operation
      description: Operace 'GetGetstudijniprogramy' z kategorie 'programy'.
      operationId: GetGetstudijniprogramy
      parameters:
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: kod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: forma
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: typ
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: jazyk
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: profil
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: pouzePlatne
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/programInfoListType"
            text/xml:
              schema:
                $ref: "#/components/schemas/programInfoListType"
            application/json:
              schema:
                $ref: "#/components/schemas/programInfoListType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/programInfoListType"
            text/csv:
              schema:
                $ref: "#/components/schemas/programInfoListType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/programInfoListType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/programInfoListType"
  /rozvrhy/getPozadavkyNaCasVyuky:
    get:
      tags:
      - rozvrhy
      summary: rozvrhy operation
      description: Operace 'GetGetpozadavkynacasvyuky' z kategorie 'rozvrhy'.
      operationId: GetGetpozadavkynacasvyuky
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ucitIdno
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fakulta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/xml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/json:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/csv:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/rozvrhType"
  /rozvrhy/getRozvrhByKatedra:
    get:
      tags:
      - rozvrhy
      summary: rozvrhy operation
      description: Operace 'GetGetrozvrhbykatedra' z kategorie 'rozvrhy'.
      operationId: GetGetrozvrhbykatedra
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: datumOd
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: datumDo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: vsechnyAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: vsechnyCasyKonani
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenRozvrhoveAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenBudouciAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/xml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/json:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/csv:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/rozvrhType"
  /rozvrhy/getRozvrhByKatedraICAL:
    get:
      tags:
      - rozvrhy
      summary: rozvrhy operation
      description: Operace 'GetGetrozvrhbykatedraical' z kategorie 'rozvrhy'.
      operationId: GetGetrozvrhbykatedraical
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: datumOd
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: datumDo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: vsechnyAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenRozvrhoveAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenBudouciAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            text/calendar: {}
  /rozvrhy/getRozvrhByKatedraPDF:
    get:
      tags:
      - rozvrhy
      summary: rozvrhy operation
      description: Operace 'GetGetrozvrhbykatedrapdf' z kategorie 'rozvrhy'.
      operationId: GetGetrozvrhbykatedrapdf
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: katedra
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: datumOd
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: datumDo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: vsechnyAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: vsechnyCasyKonani
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenRozvrhoveAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenBudouciAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: grafickyRozvrh
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/pdf: {}
  /rozvrhy/getRozvrhByKrouzek:
    get:
      tags:
      - rozvrhy
      summary: rozvrhy operation
      description: Operace 'GetGetrozvrhbykrouzek' z kategorie 'rozvrhy'.
      operationId: GetGetrozvrhbykrouzek
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: kod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: datumOd
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: datumDo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: vsechnyAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: vsechnyCasyKonani
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenRozvrhoveAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenBudouciAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/xml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/json:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/yaml:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            text/csv:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/rozvrhType"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/rozvrhType"
  /rozvrhy/getRozvrhByKrouzekICAL:
    get:
      tags:
      - rozvrhy
      summary: rozvrhy operation
      description: Operace 'GetGetrozvrhbykrouzekical' z kategorie 'rozvrhy'.
      operationId: GetGetrozvrhbykrouzekical
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: kod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: datumOd
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: datumDo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: vsechnyAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenRozvrhoveAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenBudouciAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Úspěšná odpověď
          content:
            text/calendar: {}
  /rozvrhy/getRozvrhByKrouzekPDF:
    get:
      tags:
      - rozvrhy
      summary: rozvrhy operation
      description: Operace 'GetGetrozvrhbykrouzekpdf' z kategorie 'rozvrhy'.
      operationId: GetGetrozvrhbykrouzekpdf
      parameters:
      - name: stagUser
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: kod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rok
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: semestr
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: datumOd
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: datumDo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: vsechnyAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: vsechnyCasyKonani
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenRozvrhoveAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: jenBudouciAkce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: grafickyRozvrh
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: lang
        in: query
        required: false
        style: form
[...]
